{% extends "layout.html" %}
{% block content %}
<div class="container-fluid padding">
<div class="row">
    <div class="col-12">
    <h1 class="mt-3">
        About
    </h1>
    </div>

    <div class="mt-3 ml-3 col-lg-6 col-md-12">
    <p>
        I'm currently a sophormore majoring in Computer Science at Drexel University.
        <br>I don't know a single thing of CSS, but I need a space to rant. So what's 
        better than creating my own blog site/ personal website to practice webdev.
    </p>
    </div>
</div>
</div>
{% endblock content %}
