{% extends "layout.html" %} {% block content %}
<div class="container-fluid padding">
  <div class="row welcome">
    <div class="col-12">
      <h2>All of my stories, rant,<br />random thoughts are here...</h2>
    </div>

    <div class="col-12">
      <div class="row">
        <div class="col-lg-8 col-md-12">
          {% for post in posts.items %} {% if post.category.name != 'draft' %}
          <div class="card mt-3 mb-2">
            <div class="card-body shadow-sm">
              <h5 class="card-title mb-0">
                <a href="{{ url_for('blog.one_blog', blog_id = post.id) }}"
                  >{{ post.title }}</a
                >
              </h5>
              <a
                href="{{ url_for('blog.category_blog', category = post.category.name) }}"
                class="badge badge-secondary"
                aria-pressed="true"
                >{{ post.category.name.capitalize() }}</a
              >
              <small class="card-subtitle mt-0"
                >{{ post.created_at.strftime('%m-%d-%Y') }}</small
              >
              {% if post.content|length >= 200 %}
              <p class="card-text mt-3">
                {{ post.content[:200] }}<a
                  href="{{ url_for('blog.one_blog', blog_id = post.id) }}"
                  ><b>...See more</b></a
                >
              </p>
              {% else %}
              <p class="card-text mt-3">{{ post.content }}</p>
              {% endif %}
            </div>
          </div>
          {% endif %} {% endfor %}
        </div>

        <div class="col-lg-4 d-none d-lg-block">
          <div class="card mr-0" style="width: 12rem">
            <div class="card-header">Category</div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <a
                  href="{{ url_for('blog.category_blog', category = 'opinion') }}"
                  >Opinion</a
                >
              </li>
              <li class="list-group-item">
                <a
                  href="{{ url_for('blog.category_blog', category = 'random') }}"
                  >Random</a
                >
              </li>
              <li class="list-group-item">
                <a href="{{ url_for('blog.category_blog', category = 'rant') }}"
                  >Rant</a
                >
              </li>
              <li class="list-group-item">
                <a
                  href="{{ url_for('blog.category_blog', category = 'story') }}"
                  >Story</a
                >
              </li>
              {% if current_user.is_authenticated %}
              <li class="list-group-item">
                <a
                  href="{{ url_for('blog.category_blog', category = 'draft') }}"
                  >Draft</a
                >
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1,
  right_current=2) %} {% if page_num %} {% if posts.page == page_num %}
  <a class="btn btn-dark mb-4" href="{{ url_for('blog.blogs', page=page_num) }}"
    >{{ page_num }}</a
  >
  {% else %}
  <a
    class="btn btn-outline-dark mb-4"
    href="{{ url_for('blog.blogs', page=page_num) }}"
    >{{ page_num }}</a
  >
  {% endif %} {% else %} ... {% endif %} {% endfor %}
</div>
{% endblock content %}
