{% extends "layout.html" %}
{% block content %}
<div class="container-fluid padding">
<div class="row">
    <div class="col-12">
    <h1 class="mt-3">
        Contact me
    </h1>
    </div>

    <div class="col-12">
    <ul>
    <li><a href="mailto:ngchi250@gmail.com">Email me</a></li>
    <li><a href="https://www.linkedin.com/in/chi-nguyen-8b27621a6/">LinkedIn</a></li>
    <li><a href="https://twitter.com/PhuongChi2001">Twitter</a></li>
    </ul>
    </div>  

</div>
</div>


  </div>
  </div>

{% endblock content %}