{% extends "layout.html" %}
{% block content %}
<div class="container-fluid padding">
<div class="row">
    <div class="col-12">
    <h1 class="mt-3">
        My projects
    </h1>
    </div>
    {% for project in projects %}
    <div class="col-lg-6 col-md-12">
    <article class="mt-3 media content-section">
    <div class="media-body">
    <div class="d-flex">
        <h5 class="mt-0 mr-2">{{ project.name }}</h5>
        <small class="text-muted"><a href="{{ project.link }}"><i class="fa fa-github" style="font-size:24px"></i></a></small>
    </div>
        <p>{{ project.description }}</p>
        </div>
    {% if current_user.is_authenticated %}
        <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('project.update_project', project_id=project.id) }}">Update</a>
        </div>
    {% endif %}
    </article>
    </div>
    {% endfor %}
</div>

</div>
{% endblock content %}