body {
  font-family: "Ubuntu Mono", monospace;
}

/* background-color: #ffffff;
  opacity: 0.4;
  background-image:  radial-gradient(#262e8f 1px, transparent 1px), radial-gradient(#262e8f 1px, #f1f1fa 1px);
  background-size: 40px 40px;
  background-position: 0 0,20px 20px; */

/* Formatting Navbar */
/* .navbar {
  background: #dddddd;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  max-width: 1500px;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav--item {
  height: 50px;
}

.nav--link {
  color: #000;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .nav--link {
    display: none;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    left: -100%;
  }

  .nav-menu.active {
    background: #242222;
  }
}
 */
/* Formatting project cards */
.projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 3em;
}

.project-card {
  width: 48%;
  margin-top: 1rem;
  border: 1px solid black;
  border-radius: 10px;
}

.project-title-area {
  display: flex;
  flex: row;
}

.project-title {
  margin: 0.5em 1em;
}

.project-link {
  margin: 0.5em 0;
}

.project-text {
  margin: 0.5em 1em;
  font-size: 16px;
}

.update-button {
  margin: 0.5em 1em;
}

a {
  color: #000000;
}

a:hover {
  background-color: #a0b4f0;
  color: #000000;
  text-decoration: none;
}

.nohover:hover {
  background-color: transparent;
}

p {
  white-space: pre-line;
}
/* make card responsive 960*/
@media only screen and (max-width: 768px) {
  .projects-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 3em;
  }

  .project-card {
    width: 100%;
  }
}

/* Give white spaces for paragraph */
.article-content {
  white-space: pre-line;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

/* Formatting modal */

.modal-backdrop {
  display: none;
  z-index: 1040 !important;
}

.modal-content {
  margin: 2px auto;
  z-index: 1100 !important;
}

/* Swup transition */

.transition-fade {
  opacity: 1;
  transition: 500ms;
  transform: translateX(0);
  transform-origin: left;
}

html.is-animating .transition-fade {
  opacity: 1;
  transform: translateX(100%);
}

html.is-leaving .transition-fade {
  opacity: 0;
}

.transition-swipe {
  transition: 700ms;
  transform: translateY(0);
}

html.is-animating .transition-swipe {
  transform: translateY(100px);
}
