body {
  font-family: 'Ubuntu Mono', monospace;
}

  /* background-color: #ffffff;
  opacity: 0.4;
  background-image:  radial-gradient(#262e8f 1px, transparent 1px), radial-gradient(#262e8f 1px, #f1f1fa 1px);
  background-size: 40px 40px;
  background-position: 0 0,20px 20px; */

a { color: #000000; } 

a:hover {
  background-color: #a0b4f0;
  color: #000000;
  text-decoration: none;
}

.nohover:hover {
  background-color: transparent;
}

p {
  white-space: pre-line;
}
/* make card responsive */
@media only screen and (max-width: 768px) {
  .card-body {
    width: 75%;
    padding: 0.5em 1.2em;
  }
  .card-body .card-text {
    margin: 0;
  }
}

.flex-fixed-width-item {
  flex: 0 0 100px;
}


/* Give white spaces for paragraph */
.article-content {
  white-space: pre-line;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }

.modal-backdrop {
    display: none;
    z-index: 1040 !important;
}

.modal-content {
    margin: 2px auto;
    z-index: 1100 !important;
}

.transition-fade {
  opacity: 1;
  transition: 500ms;
  transform: translateX(0);
  transform-origin: left;
}

html.is-animating .transition-fade {
  opacity: 1;
  transform: translateX(100%);
}

html.is-leaving .transition-fade {
  opacity: 0;
}


.transition-swipe {
  transition: 700ms;
  transform: translateY(0);
}

html.is-animating .transition-swipe {
  transform: translateY(100px);
}
